<div class="wrapper">
    <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add User</h1>
    <div mat-dialog-content>


        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First Name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [disabled]="loading"  [(ngModel)]="user.lastName" matInput placeholder="Last Name">
            </mat-form-field>
        </div>

        <div class="full-width">
            <mat-form-field class="full-width" appearance="outline" class="example-form-field">
                <mat-label>Email</mat-label>
                <input [disabled]="loading"  [(ngModel)]="user.email" matInput placeholder="Email">
            </mat-form-field>
        </div>

        <div class="full-width">
            <mat-form-field class="full-width" appearance="outline" class="example-form-field">
                <mat-label>Birth Date</mat-label>
                <input [disabled]="loading"  [(ngModel)]="birthDate" class="full-width" matInput [matDatepicker]="datepicker">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker class="full-width" #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button (click)="onNoClick()" [disabled]="loading"  mat-button>Cancel</button>
        <button [disabled]="loading"  (click)="saveUser()" mat-button cdkFocusInitial>Save</button>
    </div>
</div>